.add-btn {
  background-color: #646cff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 16px;
}
.add-btn:hover {
  background-color: #535bf2;
}

.view-cart-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.view-cart-btn:hover {
  background-color: #e65b50;
}

.close-btn {
  background-color: transparent;
  border: 1px solid black;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
.close-btn:hover {
  color: #ff6f61;
}

.title {
  margin-top: 60px;
}

.offcanvas {
  border: 2px solid #646cff;
  background-color: #f8f9fa; /* Light background */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  padding: 25px;
  max-height: fit-content;
}

.go-to-checkout-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 40px;
}
.go-to-checkout-btn:hover {
  background-color: #218838;
}

.remove-item-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.logout-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #4e3fd3;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.logout-button:hover {
  background-color: #5080e6;
}

.edit-btn {
  position: fixed;
  bottom: 20px;
  left: 120px;
  background-color: #ffc107;
  color: black;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.edit-btn:hover {
  background-color: #e0a800;
}

.edit-product-btn {
  position: fixed;
  bottom: 20px;
  left: 220px;
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.edit-product-btn:hover {
  background-color: #138496;
}
